body {
  box-sizing: border-box;
  color: rgba(157, 164, 189, 1);
  background-color: (255, 255, 255, 1);
  font-family: "Open Sans", Tahoma, sans-serif;
}
/*цвет темного фона rgba(17, 19, 25, 1);*/
/*цвет заголовков на темном фоне: rgba(255, 255, 255, 1);*/
/*цвет первых текстов на темном фоне rgba(157, 164, 189, 0.6);*/
/*цвет текстов на темном фоне rgba(157, 164, 189, 1);*/
/*цвет заголовков на светлом фоне rgba(48, 48, 48, 1);*/
/*цвет текста на светлом фоне rgba(85, 85, 85, 1);*/
/*цвет акцента rgba(255, 108, 0, 1);*/
:root {
  --background-dark--: rgba(17, 19, 25, 0.5);
  --primary-title-color--: rgba(255, 255, 255, 1);
  --primary-text-color--: rgba(157, 164, 189, 0.6);
  --secondary-text-color--: rgba(157, 164, 189, 1);
  --secondary-title-color--: rgba(48, 48, 48, 1);
  --third-text-color--: rgba(85, 85, 85, 1);
  --accent-color--: rgba(255, 108, 0, 1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol,
p {
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.title-dark {
  font-family: "Raleway";
  color: var(--secondary-title-color--);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
/*header*/
.header {
  background-color: var(--background-dark--);
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-logo {
  margin-right: 70px;
}
.site-nav-list {
}
.site-nav-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;

  color: var(--primary-title-color--);
}
.header-tel {
  color: var(--primary-title-color--);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-decoration: none;
}
.button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-title-color--);
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: var(--background-dark--);
}
/*social linc*/
.social-link-list {
  color: var(--secondary-text-color--);
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
/*hero*/
.hero {
  background-color: var(--background-dark--);
  padding: 272px 0 206px 96px;
}
.hero-subtitle {
  color: var(--primary-text-color--);
}
.hero-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--primary-title-color--);
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/*about us*/
.about {
  padding-top: 139px;
  padding-bottom: 90px;
}
.about-subtitle {
  color: var(--secondary-title-color--);
}
.about-title {
  color: var(--secondary-title-color--);
}
.about-text {
  color: var(--third-text-color--);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.about-button {
  color: var(--secondary-title-color--);
  background-color: var(--primary-title-color--);
}
/*prices*/

.prices {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--background-dark--);
}
.prices-subtitle {
  color: var(--primary-text-color--);
}
.prices-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--primary-title-color--);
}
.prices-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/*features*/
.features {
  padding-top: 143px;
  padding-bottom: 137px;
}
.features-item {
  color: var(--secondary-title-color--);
}
.features-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}
.features-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.features-subtitle {
  color: var(--secondary-title-color--);
}
.features-title {
  color: var(--secondary-title-color--);
}
.features-text {
  color: var(--third-text-color--);
}
/*masters*/
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters-subtitle {
  color: var(--secondary-title-color--);
}
.masters-title {
  color: var(--secondary-title-color--);
}
.masters-item-title {
  color: var(--secondary-title-color--);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
}
.masters-item-text {
  color: var(--accent-color--);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
}
/*portfolio*/
.portfolio {
  padding-top: 130px;
  padding-bottom: 130px;
}
.portfolio-subtitle {
  color: var(--secondary-title-color--);
}
/*contacts*/
.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--background-dark--);
}
.contacts-title,
.online-record-title {
  color: var(--primary-title-color--);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.time-work-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
}

.address-link {
  color: var(--secondary-text-color--);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.time-work-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/*footer*/
.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}
.footer-social-item {
  color: var(--secondary-title-color--);
}
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.2em;
}
.footer-social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.2em;
}
